{{#with data}}
    <main class="layout all_content">
        {{> left_menu}}
        <div class="main_content">
            {{> to_do_create}}
            {{> to_do_tasks}}
            {{> done_tasks}}
        </div>
    </main>
{{/with}}