<section class="auth-container register">
  <h4>Register</h4>
  {{>form-errors this}}
  <form method="post" action="register">
    {{#each inputs}}
      {{>form-input this}}
    {{/each}}
    <div class="footer-container">
        <a href="/Login">Back to Login</a>
        <div class="footer_container--right">
            <input type="reset" class="btn btn-tertiary" value="Clear">
            <input type="submit" class="btn btn-primary" value="Register">
        </div>
    </div>
  </form>
</section>